<footer class="copyright">
    <div class="container">
            Copyright © 2017<span class="bounceIn animated infinite">♥</span>
            by
            <a href="https://github.com/qq850482461" target="_blank" style="color: #FFE6E6">lzh</a>
            | Powered by
            <a href="http://flask.pocoo.org/" target="_blank" style="color: #FFE6E6">Flask</a>
            |&nbsp;<a href="https://github.com/qq850482461" target="_blank" style="color: #FFFFFF"><i class="fa fa-github" aria-hidden="true">&nbsp;github</i></a>
    </div>
</footer>