<nav class="navbar navbar-default navbar-content-center" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">首页</a></li>
                <li><a href="{{ url_for('main.blog') }}">博客</a></li>
                <li><a href="{{ url_for('main.about') }}">关于</a></li>
            </ul>
        </div>

        <!--###判断条件中的变量current_user由Flask-Login定义，且在视图函数和模板中自动调用。is_authenticated在python3是没有()括号-->
        <div>
            <ul class="nav navbar-nav navbar-right">
                {# 如果用户已经登录 #}
                {% if current_user.is_authenticated %}
                    <li><a href="#">{{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>