{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    {% include 'includes/_head.html' %}
{% endblock head %}


{% block styles %}
    {{ super() }}
    <!--重写styles样式更换主题http://bootswatch.com/-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--动画闪烁CSS-->
    <link href="/static/css/anicollection.css" rel="stylesheet" type="text/css">
    <!--博客的CSS-->
    <link href="/static/css/post.css" rel="stylesheet" type="text/css">
    <!--小图标CSS-->
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block navbar %}
    <!--这里是引入bar导航-->
    {% include 'includes/_navbar.html' %}
{% endblock navbar %}

{% block body %}
    {{ super() }}
    {% include 'includes/_footer.html' %}
{% endblock %}


