{% extends 'bootstrap/base.html' %}
<!--这里使用include的方式加入head->
{% block head %}
    {{ super() }}
    {% include 'includes/_head.html' %}
{% endblock head %}
<!--重写styles样式更换主题http://bootswatch.com/-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/cerulean/bootstrap.min.css">
{% endblock styles %}

<!--这里是bar导航-->
{% block navbar %}
    <!--使用对象的方式直接写入-->
{#    {{ nav.top.render() }}#}
    {% include 'includes/_navbar.html' %}
{% endblock navbar %}

{% block content %}

{% endblock content %}

{% block body %}
    {{ super() }}
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="container" style="padding: 10px;color: black">
                ©Copyright 2017 by <a style="color: black" href="https://github.com/qq850482461">lzh</a>
            </p>
        </div>
    </footer>
{% endblock body %}
