{% extends 'base.html' %}
{# 导入render_pagination的宏 #}
{% from "includes/_page.html" import pagination_widget %}

{% block content %}
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content">
                    {% if num %}
                        <div class="cover tag-cover">
                            <h3 class="tag-name">
                                搜索得到：{{ num }} 篇文章
                            </h3>
                        </div>
                    {% else %}
                        <div class="cover tag-cover">
                            <h3 class="tag-name">
                                抱歉没有搜索到  {{ request.args.get('search') }}  相关内容！
                            </h3>
                        </div>
                    {% endif %}
                    <!--for循环模型中的post对象-->
                    {% for post in posts %}
                        <article id="83" class="post tag-about-ghost tag-release">
                            <div class="post-head">
                                <h1 class="post-title"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h1>
                                <div class="post-meta">
                                    <span class="author">
                                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        <a href="#">周和</a>
                                    </span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time class="post-date">
                                        {{ post.created | date }}
                                    </time>
                                </div>
                            </div>
                            <div class="post-content">
                                <!--jinja2的truncate实现摘要功能-->
                                <p>{{ post.body_html | safe |truncate(300,False, ' ...', 0) }}</p>
                            </div>
                            <div class="post-permalink">
                                <a href="/posts/{{ post.id }}" class="btn btn-default">阅读全文</a>
                            </div>

                            <footer class="post-footer clearfix">
                                <div class="pull-left tag-list">
                                    <i class="fa fa-folder-open-o"></i>
                                    {# 因为多对对所以backref返回的是一个list #}
                                    {% for tag in post.tags %}
                                        <a href="/tag/{{ tag.title }}">{{ tag.title }}</a>
                                    {% endfor %}

                                </div>
                                <div class="pull-right share">
                                </div>
                            </footer>
                        </article>
                    {% endfor %}

                    {% if pagination %}
                        <div style="text-align:center">
                            {{ pagination_widget(pagination,'main.blog') }}
                        </div>
                    {% endif %}

                </main>

                <aside class="col-md-4 sidebar">
                    <!-- start widget -->
                    <!-- end widget -->

                    <!-- start tag cloud widget -->
                    <div class="widget">
                        <h4 class="title">联系我</h4>
                        <div class="content community">
                            <p>QQ：850482461</p>
                            <p><a href="http://weibo.com/u/2868433924" title="Ghost中文网官方微博" target="_blank"
                                  onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i
                                    class="fa fa-weibo"></i> 我的微博</a></p>
                        </div>
                    </div>
                    <!-- end tag cloud widget -->


                    <!-- start tag cloud widget -->
                    <div class="widget">
                        <h4 class="title">标签云</h4>
                        <div class="content tag-cloud">
                            {% for tag in tag_list %}
                                <a href="tag/{{ tag.title }}">{{ tag.title }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </section>
{% endblock %}