{% extends 'base.html' %}
<!--定义一个宏,导入宏然后给一个别名-->
{% import 'includes/_macro.html' as ui %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="page-header" style="position: relative;height: auto;min-height: 100%">
        <div class="container">
            <h1>{{ self.title() }}</h1>
            <p>现在时间时: {{ moment(time).format('LLL') }}.</p>
            <p>{{ moment().calendar() }}.</p>
        </div>
    </div>

    {#    <div class="container">#}
    {#        {{ ui.input('username') }}#}
    {#        {{ ui.input('password',type='password') }}#}
    {##}
    {#    </div>#}

{% endblock content %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}