{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    {#pagedown预览需要写入Javascript再通过(only_preview=True)实现时时预览#}
    {{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="container">
            <h1>发表文章</h1>
        </div>
    </div>
    <div class="edit_article">
        <div class="col-md-6">
            <form method="POST" class="form" role="form">
                {# 防止表单跨域攻击 #}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.title(class="form-control", placeholder=("请输入文章标题")  ) }}
                </div>
                <div class="form-group">
                    {{ form.body(only_input=True,rows=20,class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div>
                {{ form.body(only_preview=True) }}
            </div>
        </div>
    </div>

{% endblock %}