{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">


                <article id="{{ post.id }}" class="post">

                    <header class="post-head">
                        <h1 class="post-title">{{ post.title }}</h1>
                        <section class="post-meta">
                            <span class="author">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                                <a href="#">预留</a>
                            </span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <time class="post-date">
                                {{ post.created | date }}
                            </time>
                        </section>
                    </header>

                    <!--section class="featured-media"-->
                    <!--/section-->

                    <section class="post-content">
                        {{ post.body_html | safe }}
                    </section>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"><a href="{{ url_for('main.tag',tag=post.tags[0]) }}">{{ post.tags[0] }}</a></i>

                        </div>

                    </footer>

                </article>

                <div class="about-author clearfix">
                    <!--显示评论-->
                    <div>
                        <ul class="list-group">
                            <h3><i class="fa fa-comments-o" aria-hidden="true"></i>评论内容</h3>
                            <hr/>
                            {% for comment in post.comments %}
                                <div class="row">
                                    <div class="col-md-11">
                                        <div>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<span>{{ comment.created }}</span>
                                        </div>
                                        <p style="font-size: 20px;color: #202020;margin-top: 5px;">{{ comment.body }}</p>
                                        <hr/>
                                    </div>
                                    <div class="col-md-1">
                                        <p>#{{ loop.index }}</p>
                                    </div>
                                </div>

                            {% endfor %}
                        </ul>
                    </div>

                    <!--发表评论-->
                    <form method="POST" class="form" role="form" id="form">
                        {# 防止表单跨域攻击 #}
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                                <label class="control-label" form="body">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;评论
                            </label>
                        </div>
                        <div class="form-group">
                            {{ form.body(only_input=True,rows=5,class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>

                </div>

                <div class="prev-next-wrap clearfix">

                    <a class="btn btn-default" href="/post/laravel-5-4-is-now-released/"><i
                            class="fa fa-angle-left fa-fw"></i> 上一个文章</a>
                    &nbsp;

                </div>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">联系我</h4>
                    <div class="content community">
                        <p>QQ：850482461</p>
                        <p><a href="http://weibo.com/u/2868433924" ><i class="fa fa-weibo"></i> 我的微博</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->


                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        {% for tag in tag_list %}
                            <a href="tag/{{ tag.title }}">{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->                </aside>

        </div>
    </div>

{% endblock content %}